Java_SE_Lab/Files/PlantsCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This xsd is generated by an online tool for 'generating xsd from xml' 
some tools are unable to generate the correct xsd concerning the Price element
which has both attribute and content.
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CATALOG">
    <xs:annotation>
      <xs:documentation>this file content is based on an example from www.w3schools.com, 
with modifications by me.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PLANT" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="COMMON"/>
              <xs:element type="xs:string" name="BOTANICAL"/>
              <xs:element type="xs:string" name="ZONE"/>
              <xs:element type="xs:string" name="LIGHT"/>
              <xs:element name="PRICE">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:float">
                      <xs:attribute type="xs:string" name="currency" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:int" name="AVAILABILITY"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>